/*Modify this section in main branch.*/
.aboutme{
    margin:25vw 0 0 15vw;
    width:70vw;
    height:80vh;
    display:flex;
    flex-direction:column;
    justify-content:space-around;
}
.intro > h1{
    font-size:24px;
}
.intro > p{
    font-size:18px;
}
.contents{
    font-size:18px;
}
    