/*Modify this section in Skills branch*/
.skills{
    display:flex; flex-direction:column;
    height:120vh;
}
.skills > h1{
    width:80vw;
    margin:0 10vw 5vw 10vw;
    font-size:20px;
}

.skills__list{
    height:100vh;
    width:100vw;
    display:flex; 
    flex-direction:column;
    justify-content:left;
    align-items:center;
    .skills__list__row{
        width:100vw;
        display:flex;
        justify-content:center;
        align-items:center;
        .skills__list__block{
            width:22vw;
            margin:5vh 1vw 5vh 1vw;
            display:flex;
            flex-direction:column;
            justify-content:center;
            align-items:center;
        }
    }
}

.skills__list__image > *{
    font-size:120%;
    width:50%;
    height:50%;
    color:#8CECF2;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
}
.skills__list__text > *{
    font-size:12px;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
}