/*Modify this section in Portfolio branch*/
.portfolio {
  height: 160vh;
  width: 100vw;
  display: flex;
}
.portfolio .portfolio__text {
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 5vw;
}
.portfolio .portfolio__text > div * {
  margin: 5% 0;
}
.portfolio .portfolio__text > div .portfolio__description {
  font-size: 14px;
}
.portfolio .portfolio__text > div .portfolio__recipe {
  font-size: 12px;
}
.portfolio .portfolio__text > div .portfolio__buttons * {
  padding: 5%;
  margin-right: 6%;
  font-weight: bold;
  border: 2px solid #8CECF2;
  border-radius: 4px;
}
.portfolio .portfolio__buttons > button:hover {
  color: #18181B;
  background-color: #8CECF2;
}
.portfolio .portfolio__images {
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-right: 5vw;
}
.portfolio .portfolio__images div {
  height: 20vh;
  width: 46vw;
  border: 4px solid #8CECF2;
  border-radius: 8px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #18181B;
  color: white;
}