/*Default formatting is for phone. @media statements will be used for desktop fit.*/
@import "_AboutMe";
@import "_Skills";
@import "_Portfolio";

*{
    margin:0; padding:0; box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
    background-color:#18181B;
    color:white;
}