/*Default formatting is for phone. @media statements will be used for desktop fit.*/
/*Modify this section in main branch.*/
.aboutme {
  /*margin:15vh 0 0 15vw;*/
  width: 100vw;
  height: 110vh;
  display: flex;
  flex-direction: column;
  background-image: url("./background.png");
  background-repeat: no-repeat;
}
.aboutme > * {
  margin: 0 7vw;
}

.intro {
  margin-bottom: 1vh;
}
.intro > h1 {
  margin-top: 58%;
  margin-bottom: 4%;
  font-size: 24px;
}
.intro > p {
  font-size: 18px;
}

.aboutme button {
  margin-top: 2vh;
  margin-bottom: 2vh;
  width: 60%;
  padding: 5% 5%;
  border: 4px solid #8CECF2;
  font-size: 20px;
  border-radius: 8px;
  font-weight: bold;
  background-color: #8CECF2;
  color: #18181B;
}
.aboutme button:hover {
  background-color: #18181B;
  color: white;
  cursor: pointer;
}
.aboutme .contents {
  margin-top: 50%;
  font-size: 18px;
}
.aboutme .contents .contents__header {
  font-weight: bold;
  margin-bottom: 5px;
}
.aboutme .contents .contents__item {
  padding-left: 2%;
  color: #8CECF2;
  margin: 1px 0;
}
.aboutme .contents .contents__item:hover {
  color: white;
  cursor: pointer;
}

/*Modify this section in Skills branch*/
.skills {
  display: flex;
  flex-direction: column;
  margin-top: 10vh;
  height: 55vh;
}

.skills > h1 {
  width: 80vw;
  margin: 0 10vw 5vw 10vw;
  font-size: 20px;
}

.skills__list {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
}
.skills__list .skills__list__row {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.skills__list .skills__list__row .skills__list__block {
  width: 22vw;
  margin: 5vh 1vw 5vh 1vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.skills__list__image {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.skills__list__image > * {
  font-size: 120%;
  width: 100%;
  height: 100%;
  color: #8CECF2;
}
.skills__list__image > img {
  width: 50%;
  height: 50%;
}

.skills__list__text > * {
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/*Modify this section in Portfolio branch*/
.portfolio__header {
  width: 80vw;
  margin: 10vh 10vw 0 10vw;
  font-size: 20px;
}

.portfolio {
  height: 155vh;
  width: 100vw;
  display: flex;
}
.portfolio .portfolio__text {
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 5vw;
}
.portfolio .portfolio__text > div * {
  margin: 5% 0;
}
.portfolio .portfolio__text > div .portfolio__description {
  font-size: 14px;
}
.portfolio .portfolio__text > div .portfolio__recipe {
  font-size: 12px;
}
.portfolio .portfolio__text > div .portfolio__buttons * {
  padding: 5%;
  margin-right: 6%;
  font-weight: bold;
  border: 2px solid #8CECF2;
  background-color: #18181B;
  border-radius: 4px;
}
.portfolio .portfolio__buttons > button:hover {
  color: #18181B;
  background-color: #8CECF2;
  cursor: pointer;
}
.portfolio .portfolio__images {
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-right: 5vw;
}
.portfolio .portfolio__images div {
  height: 20vh;
  width: 46vw;
  border: 4px solid #8CECF2;
  border-radius: 8px;
}

/*Modify this section in Contact branch*/
.contact {
  height: 15vh;
  width: 100vw;
  margin: 5vh 0;
}
.contact h4 {
  margin: 0 5vw;
  font-size: 14px;
  font-weight: bold;
}
.contact .contact__details {
  margin: 2vw 5vw;
}
.contact .contact__details span {
  margin-right: 4vw;
  font-size: 12px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

body {
  background-color: #18181B;
}

/*Divider formatting*/
.divider {
  width: 100vw;
}

.divider__small {
  height: 3px;
  background-color: #FF00C7;
}

.divider__medium {
  height: 5px;
  background-color: #FF00C7;
}

.divider__large {
  height: 12px;
  background-color: #FF00C7;
}

.divider__smallgap {
  height: 5px;
}

.divider__largegap {
  height: 8px;
}